.iconFinalizado{
    color: rgb(114, 0, 0);
    padding-right: 10px;
}
.iconNovo{
    color: green;
    padding-right: 10px;
}
.iconAndamento{
    color: orange;
    padding-right: 10px;
}

.content{
    padding: 30px;
}

.itens-filtro{
    display: flex;
    justify-content: space-between;
}