<mat-toolbar class="header-menu" *ngIf="!isLoginPage()">
  <div class="title">
     <mat-icon>assignment</mat-icon> Faq & Atendimento - Clinica
  </div>
   
 <div class="itens-menu">
   
   <a mat-button routerLink="/">
     <mat-icon>home</mat-icon>
     Faq
   </a>
   <a *ngIf="usuario.userAtendimento" mat-button routerLink="/atendimento">
     <mat-icon>question_answer</mat-icon>
     Atendimento
   </a>
   <a *ngIf="!usuario.userAtendimento" mat-button routerLink="/chamados">
     <mat-icon>question_answer</mat-icon>
     Meus Chamados
   </a>
 
   <button mat-raised-button color="warn" (click)="sair()" >Sair</button>
 </div>
 
 </mat-toolbar>

<router-outlet></router-outlet>



