.content{
    padding: 30px;
    
}
.itens-filtro{
    display: flex;
    justify-content: space-between;
}

.duvidas{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.duvida{
    margin: 10px;
}